# Configuración Local de Base de Datos y Servidor Backend
PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgrespassword
DB_NAME=incatour_db
JWT_SEED=incatour_secreto_desarrollo_local_123
